/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* Correction d'un problème de couleur de fond sur les options des listes déroulantes */
 .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #0073aa !important;
    color: #fff;
}

.order-status.status-to-shipping {
    background: #84c5f9;
    color: #2271b1
}